// color palette: https://www.color-hex.com/color-palette/23053 

$primary: #20c997;
$light: #aaaaaa;
$dark: #333333;
$secondary: #14916a;
$white: #ffffff;
$light_alpha: #aaaaaa77;
$black: black;
$danger: #dc3545;